hosts:
  - 1513629884013:
      url: "https://wazuh.manager"
      port: 55000
      username: wazuh-wui
      password: "${WAZUH_API_PASSWORD}"   # will use envsubst to substitute the varibale
      run_as: false
